node_modules

dist
build

.idea
.vscode
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
npm-debug.log*

coverage
.nyc_output

.env
.env.local
.env.*.local

Dockerfile
docker-compose.yml
.dockerignore

.git
.gitignore

*.md
!README.md