<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.executor.mapper.InstrumentMapper">

    <resultMap id="instrumentResultMap" type="com.team1.executor.model.InstrumentRow">
        <constructor>
            <arg column="instrument_id" javaType="java.lang.String"/>
            <arg column="instrument_name" javaType="java.lang.String"/>
            <arg column="active" javaType="java.lang.Boolean"/>
            <arg column="updated_on" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="findBySymbol" resultMap="instrumentResultMap">
        SELECT instrument_id, instrument_name, active, updated_on
        FROM instruments
        WHERE instrument_id = #{symbol}
    </select>

</mapper>